<h1>Informations</h1>
<div id="informations">
    <div>
        <div class="row"> 
            <label for="joueur" class="col-3 infos">
                Joueur
            </label>
            <div class="col-9">
                <input name="joueur" type="text" class="form-control" id="joueur"/>
            </div>
            <label for = "personnage" class="col-3 infos">
                Personnage
            </label>
            <div class="col-9">
                <input name ="personnage" type="text" class="form-control" id="personnage"/>
            </div>
            <label for ="peuple" class="col-3 infos">
                Peuple
            </label>
            <div class="col-9">
                <input name="peuple" type="text" class="form-control" id="peuple"/>
            </div>
            <label for="niveau" class="col-3 infos">
                Niveau
            </label>
            <div class="col-9">
                <input name = "niveau" type="text" class="form-control" id="niveau"/>
            </div>
            <label for="experience" class="col-3 infos">
                Expérience
            </label>
            <div class="col-9">
                <input name="experience" type="text" class="form-control" id="experience"/>
            </div>
        </div>
    </div>
    <div>
        <img src="https://i.pinimg.com/originals/34/19/f9/3419f9be1bee2e0ab510e419e9e1a55a.jpg" alt="Personnage" style="width:150;height:190px;border: 333333 3px solid">
    </div>
</div>